/**
VARS AND MIXINS
===========================
*/


/* COLORS */

// Basics
$link-color:      #66a4d9;
$white:           #fff;
$black:           #000;
$blue:            #3f77c3;
$red:             #bc2b33;
$orange:          #e09456;
$green:           #698d64;

// Dark Gray
$gray-1:          rgba($black, .1);
$gray-2:          rgba($black, .2);
$gray-3:          rgba($black, .3);
$gray-4:          rgba($black, .4);
$gray-5:          rgba($black, .5);
$gray-6:          rgba($black, .6);
$gray-7:          rgba($black, .7);
$gray-8:          rgba($black, .8);
$gray-9:          rgba($black, .9);
$dark-gray:       #333;

// Light Gray
$lt-gray-1:       #f8f8f8;
$lt-gray-2:       #eee;
$lt-gray-3:       #ccc;
$lt-gray-4:       #999;


/* Font sizes */

$font-verysmall:  9px;
$font-smaller:    11px;
$font-small:      12px;
$font-medium:     14px;
$font-medium-2:   16px;
$font-large:      18px;
$font-big:        22px;
$font-big-2:      26px;
$font-big-3:      30px;
$font-big-4:      34px;
$font-bigger:     40px;
$font-bigger-2:   50px;
$font-bigger-3:   60px;


/* Font-family vars */

$sans-serif:      "Open Sans", Arial, Helvetica, sans-serif;


/* Breakpoints */

$tablets:         "only screen and (max-width: 950px)";
$smartphones-1:   "only screen and (max-width: 800px)";
$header:          "only screen and (max-width: 1079px)";


/* Mixins */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
